@font-face {
  font-family: '../fonts/';
  src: url('../fonts/');
  src: local('☺'),
         url('../fonts/') format('woff'), url('../fonts/') format('truetype');
}

html, body, #modal {
  height: 100%;
}

body {
  font-size: 100%;
  color: #fff;
  font-family: georgia;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
}

h2 {
	margin-top: 20px;
	font-size: 0.7em;
}

code {
  white-space: pre;
  font-size: 0.6em;
}

code .comment {
  color: #666;
}

ul {
  margin: 15px;
  padding-left: 20px;
  list-style-type: circle;
}

ul li {
  margin: 15px 0;
  line-height: 1.4;
}

h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
}

.group:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

#page {
	padding-top: 50px;
	width: 100%;
	height: 100%;
	min-width: 1026px;
	background-image: url(../img/adventBase.png), url(../img/underlay.png);
	background-repeat: no-repeat, repeat;
	background-position: center -82px, left top;
	clear: both;
	-webkit-box-shadow: -5px 5px 25px rgba(0,0,0,0.8);
}

#calendar {
  width: 1026px;
  margin: 0 auto;
}

.item {
  float: left;
  display: block;
  width: 170px;
  height: 136px;
  margin: 0 44px 20px 0;
  background-color: transparent;
  -webkit-box-shadow: inset -2px -2px 10px rgba(0,0,0,0.4);
  position: relative;
  -webkit-perspective: 900;
  -webkit-transform-style: preserve-3d;
}

.item .adventContent {
  padding: 5px;
  position: absolute;
  z-index: 1;
  color: rgba(048,048,048,0.8);
  line-height: 1.4;
  letter-spacing: 1.2;
  text-align: center;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 2s ease;
	-moz-transition: opacity 2s ease;
}

.open .adventContent {
  opacity: 1;
}

.item .adventContent a {
	display: block;
}

.item .door {
  float:left;
  display: block;
  width: 170px;
  height: 136px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 2s, 2s;
  -webkit-transition-timing-function: ease-in, ease-in;
  -webkit-transform-origin: 0 50%;
  position: relative;
  z-index: 1;
}

.item .door .front,
.item .door .back {
  position: absolute;
  display: block;
  width: 170px;
  height: 136px;
  -webkit-box-shadow: inset -5px -5px 20px rgba(255,255,255,0.4);
  -moz-box-shadow: inset -5px -5px 20px rgba(255,255,255,0.4);
  z-index: 3;
}

.item .door .front {
  background: url(../img/adventDoors.png) no-repeat left top;
  font-size: 4em;
  padding-left: 20px;
  width: 150px;
  -webkit-backface-visibility: hidden;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}
.item .door .back {
  z-index: 2;
  background: url(../img/underlay.png) no-repeat left top;
}

#advent1 .door .front {
  background-position: 0px -140px;
}

#advent2 .door .front {
  background-position: 0px -280px;
}

#advent3 .door .front {
  background-position: 0px -420px;
}

#advent4 .door .front {
  background-position: 0px -560px;
}

#advent5 .door .front {
  background-position: 0px -699px;
}

#advent6 .door .front {
  background-position: 0px -839px;
}

#advent7 .door .front {
  background-position: 0px -979px;
}

#advent8 .door .front {
  background-position: 0px -1119px;
}

#advent9 .door .front {
  background-position: 0px -1259px;
}

#advent10 .door .front {
  background-position: 0px -1399px;
}

#advent11 .door .front {
  background-position: 0px -1539px;
}

#advent12 .door .front {
  background-position: 0px -1679px;
}

#advent13 .door .front {
  background-position: 0px -1819px;
}

#advent14 .door .front {
  background-position: 0px -1959px;
}

#advent4, #advent9, #advent14, #advent19, #advent24 {
  margin-right: 0;
}

#advent5, #advent10, #advent15, #advent20 {
  clear: both;
  float: left;
}
.open .door {
  -webkit-transform: rotateY(-97deg);
  -webkit-box-shadow: rgba(0,0,0,0.6) 28px 0px 300px -10px;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  z-index: 4;
}

#modal #content {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 2em; 
  color: rgba(255,255,255,0.90);

}

#modal #content .slide {
  position: relative;
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: 20px auto;
  z-index: 6;
}

.close {
  display: block;
  width: 90%;
  height: 90%;
}