<div id="advent<%=id%>" class="item">
  <div class="adventContent"><%=adventPanel%></div>
  <div class="door">
    <a class="front" href="#/<%=id%>"><%=linkText%></a>
    <div class="back"></div>
  </div>
</div>

